<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:constant="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <constant:component-scan base-package="
    com.qianfeng.fxmall.commons.mybatis,
    com.qianfeng.fxmall.goods.dao,
    com.qianfeng.fxmall.goods.service,
    com.qianfeng.fxmall.goodssku.service,
    com.qianfeng.fxmall.commons.Spring"/>

    <aop:aspectj-autoproxy/>

    <bean id="mapperScan" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.qianfeng.fxmall.*.mapper"/>
    </bean>


    <!--配置连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--value一盘是字符串数据赋值-->
        <!--ref一般关联的是一个对象，需要new创建的对象-->
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/fxmall"/>
        <property name="user" value="root"/>
        <property name="password" value="243975"/>
    </bean>

    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--配置数据源、连接池-->
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="mapper/*.mapper.xml"/>
    </bean>
</beans>